@use "sass:math";

body {
    font-family: $font;
    font-weight: 400;
    overflow: visible;
    overflow-x: hidden;
    line-height: 140%;
    font-size: toVw($fontSizeMain);
    margin: 0;
    color: $black;
    background: #313131;

    &._overflow {
        overflow: hidden;

        main {
            &:before {
                content: "";
                width: 100%;
                height: 1005px;
                position: fixed;
                z-index: $zIndexH;
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}

main {
    width: 100%;
    margin: 0 auto;
    position: relative;
    min-height: 60vh;
}

a {
    text-decoration: none;
    transition: $time;
    color: #fff;
    font-size: 40px;
}
.title{
    font-size: 60px;
    color: #fff;
    text-align: center;
}

img {
    max-width: 100%;
}

.lazy:not(.loaded) {
    max-width: toVw(40);
    max-height: toVw(40);
}

.icon {
    width: toVw(25);
    height: toVw(25);
}

._upper {
    text-transform: uppercase;
}

.slick-track {
    display: flex !important;

    .slick-slide {
        height: auto;
        display: flex;

        > div {
            display: flex;
            width: 100%;
        }
    }
}
