$font: "eau-sans"; /* Семейство шрифта брать из ./dev/scss/fonts.scss */
$fontSizeMain: 16;
$time: 0.2s;

//COLOR
$white: #ffffff;
$additional_grey: #eeeeee;
$main_grey: #777777;
$dark_grey: #686868;
$main_green: #acbf29;
$light_grey: #f9f9f9;
$white_icons: #f5f5f5;
$grey: #b3b3b3;
$black: #333333;

$zIndexSup: 9999;
$zIndexH: 3;
$zIndexM: 2;
$zIndexL: 1;

._zIndexL {
  z-index: $zIndexL;
}
._zIndexM {
  z-index: $zIndexM;
}
._zIndexH {
  z-index: $zIndexH;
}
._zIndexSup {
  z-index: $zIndexSup;
}

//SIZE TO VW
:root {
  --vwIdth: 1920;
  --mb: 160;
  @include xmd-block() {
    --vwIdth: 1100;
    --mb: 80;
  }
  @include sm-block() {
    --vwIdth: 800;
  }
  @include xxs-block() {
    --vwIdth: 375;
    --mb: 30;
  }
}

//MEDIA CLASS
.md-show {
  display: none !important;
}

.xmd-show {
  display: none !important;
}

.sm-show {
  display: none !important;
}

.xs-show {
  display: none !important;
}

.xxs-show {
  display: none !important;
}

@include md-block() {
  .md-show {
    display: flex !important;
  }

  .md-hide {
    display: none !important;
  }
}

@include xmd-block() {
  .xmd-show {
    display: flex !important;
  }

  .xmd-hide {
    display: none !important;
  }
}

@include sm-block() {
  .sm-show {
    display: flex !important;
  }

  .sm-hide {
    display: none !important;
  }
}

@include xs-block() {
  .xs-show {
    display: flex !important;
  }
  .xs-hide {
    display: none !important;
  }
}

@include xxs-block() {
  .xxs-show {
    display: flex !important;
  }

  .xxs-hide {
    display: none !important;
  }
}
