@font-face {
  font-family: "eau-sans";
  font-display: swap;
  src: url("../fonts/bold_eau-sans.woff") format("woff"),
    url("../fonts/bold_eau-sans.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "eau-sans";
  font-display: swap;
  src: url("../fonts/obl_eau-sans.woff") format("woff"),
    url("../fonts/obl_eau-sans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "eau-sans";
  font-display: swap;
  src: url("../fonts/Book_Eau-Sans.woff") format("woff"),
    url("../fonts/Book_Eau-Sans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
