extends ../layout/main

block variables
    - var title = 'Разводящая';

block content
    style.
        .style-temp {
            display: flex;
            flex-wrap: wrap;
        }

        .style-temp > li {
            width: 100%;
            border-top: 1px solid lightslategray;
            border-right: 1px solid lightslategray;
        }

        .style-temp > li > a, .style-temp > li > span {
            background-color: rgba(0, 0, 0, 0.1);
        }

        .style-temp > li li a {
            background-color: rgba(0, 0, 0, 0.15);
            padding-left: 35px;
        }

        .style-temp > li a, .style-temp > li span {
            padding: 10px;
            width: 100%;
        }

        .style-temp > li ul {
            box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
        }

        .style-temp .red {
            background-color: red;
        }

        .style-temp .red * {
            color: #fff;
        }

        .style-temp .green {
            background-color: green;
        }

        .style-temp .green * {
            color: #fff;
        }

        .style-temp .yel {
            background-color: yellow;
        }

        .style-temp .all {
            width: 100%;
        }

        .style-temp .all a {
            background-color: orange;
        }

    .title !!!!!!Учи!!!!!!!
    ul
        li
            a(href="./main.html") main.html - Разводящая
