.input-country {
  position: relative;

  .jq-selectbox {
    position: absolute;
    width: 100px;
    height: 100%;
    border: 0;

    &__select {
      height: 100%;
      padding: 0;
      background: none;
      box-shadow: none;
      text-shadow: none;
      border: none;
      border-radius: 0;
      border-right: 1px solid #dbdbdb;

      &-text {
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 40px;
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: left 10px center;
      }
    }

    &__trigger {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;

      &-arrow {
        position: static;
        top: auto;
        left: auto;
        right: auto;
      }
    }

    &__dropdown {
      margin: 0;
      top: 100% !important;
    }

    li {
      padding-left: 40px;
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: left 10px center;
    }
  }

  input[type="tel"] {
    &:not(.input--hidden) {
      padding-left: 110px;
    }

    &.input--hidden {
      display: none;
    }
  }
}
